<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Index">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>	
                <rule name="Http" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>                			
            </rules>
        </rewrite>
        <handlers>
            <remove name="php-5.6.31" />
            <add name="PHP7.4.27_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-7.4.27\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>